PyPDF2
beautifulsoup4
black
catboost
configparser
cryptography
cython
dash
diskcache
easyocr
email-validator
faker
fastapi
flake8
flask
fpdf
imageio
ipykernel
jinja2
joblib
jupyterlab
langchain
lightgbm
lime
loguru
matplotlib
mypy
notebook
numba
numpy
openai
opencv-python
openpyxl
paddleocr
pandas
pdf2image
pillow
plotly
prophet
pydantic
pytesseract
pytest
pytest-cov
python-dateutil
python-docx
python-dotenv
pytz
redis
reportlab
requests
scikit-image
scikit-learn
scipy
scrapy
seaborn
sentence-transformers
shap
slack-sdk
sqlalchemy
streamlit
tiktoken
torch
torchvision
tqdm
transformers
uvicorn
wandb
xgboost
xlsxwriter
